<div class="flex flex-col items-center gap-2 rounded-2xl border border-white/70 bg-white/90 p-4 text-center card-pop">
  <% if word.picture_attached? %>
    <%= image_tag word.picture, alt: word.content, class: "h-28 w-28 object-contain" %>
  <% end %>
  <% if word.color.present? %>
    <% swatch = word.color %>
    <div
      class="h-20 w-20 rounded-full border border-black/10"
      style="background-color: <%= swatch.code %>;"
      title="<%= swatch.name %>"
    ></div>
  <% end %>
  <span class="text-base font-semibold text-gray-700"><%= word.content %></span>
</div>
