<div class="flex flex-col items-center gap-2">
  <% if word.image.attached? %>
    <%= image_tag word.image, alt: word.content, class: "h-20 w-20 object-contain" %>
  <% end %>
  <span><%= word.content %></span>
</div>
